@model LoginRequest
@{
    ViewData["Title"] = "Login Page";
}
<h3 class="mb-3">Login</h3>
<form  method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="mb-1">
        <label asp-for="Login"></label>
    </div>
    <div class="row">
        <div class="col-3">
            <input class="form-control mb-2" type="text" asp-for="Login" />
        </div>
    </div>
    <div class="mb-1">
        <label asp-for="Password"></label>
    </div>
    <div class="row">
        <div class="col-3">
            <input class="form-control mb-3" type="password" asp-for="Password" />
        </div>
    </div>
    <div>
        <input type="submit" class="btn btn-primary" value="Войти" />
    </div>
    <div class="col-5">
    </div>
</form>
<div class="extra">Тестовые данные для входа</div>
<table>
    <tr>
        <th>Логин</th>
        <td>user</td>
    </tr>
    <tr>
        <th>Пароль</th>
        <td>user</td>
    </tr>
</table>